html, body {
    height: 100%;
}
body {
    font-family: 'lato', sans-serif;
    font-size: 1.125rem;
    color: #454f63;
}
h1 {
    font-size: 42px;
}
h3 {
    font-size: 26px;
}
.text-medium {
    font-weight: 500;
}
// Buttons
.btn {
    min-width: 138px;
    font-weight: 700;
    font-size: 18px;
    padding: 9px 12px 10px;
    border-radius: 5px;
    &:focus {
        box-shadow: none;
    }
}
.btn-lg {
    font-size: 22px;
    font-weight: 400;
}
.btn-standard {
    min-width: 372px;
}
.btn-info {
    background: #3bc5db;
    border: none;
    box-shadow: 0 3px 1px #418b96;
}
.btn-danger {
    background: #ff5c5c;
    border: none;
    box-shadow: 0 3px 1px darken(#ff5c5c, 25%);
}
.toggle-btn {
    cursor: pointer;
    em {
        position: relative;
        display: inline-block;
        width: 46px;
        height: 20px;
        background: #fff;
        border-radius: 13px;
        transition: background 0.3s;
        &:after {
            content: '';
            background: #3acce1;
            width: 16px;
            height: 16px;
            border-radius: 100px;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
            position: absolute;
            top: 2px;
            left: 2px;
            z-index: 1;
            transition: all 0.3s;
        }
    }
    input {
        display: none;
        &:checked {
            + em {
                background: #3acce1;
                &:after {
                    background: #fff;
                    left: 28px;
                }
            }
        }
    }
}
.custom-counter {
    background: #eff0f3;
    border-radius: 5px;
    border: 2px solid #3acce1;
    transition: background 0.3s;
    &.active,
    &:hover {
        background: #3acce1;
        img {
            display: none;
        }
        .icon-white {
            display: inline-block;
        }
        input {
            color: #fff;
        }
        .btn {
            &:before {
                background: #fff;
            }
        }
    }
    input {
        background: none;
        width: 111px;
        font-size: 27px;
        cursor: default;
        &:focus {
            outline: none;
        }
    }
    .btn {
        position: relative;
        min-width: 68px;
        padding: 7px 0 11px;
        &:before {
            content: '';
            background: #707070;
            width: 1px;
            height: 34px;
            border-radius: 1px;
            position: absolute;
            top: 50%;
            margin-top: -17px;
            left: 0;
            z-index: 1;
        }
        &:first-child {
            &:before {
                left: auto;
                right: 0;
            }
        }
        &:hover {
            img {
                opacity: 1;
            }
        }
    }
    img {
        display: inline-block;
        width: 20px;
        height: 20px;
        opacity: 0.6;
        transition: opacity 0.3s;
    }
    .icon-white {
        display: none;
    }
}
// Forms
.form-group {
    margin-bottom: 30px;
}
.form-control-lg {
    font-size: 18px;
    height: 65px;
    padding: 10px 30px;
}
.form-control {
    color: #454f63;
    border-radius: 12px;
    &::-webkit-input-placeholder {
        color: #b4bac9;
    }
    &:-ms-input-placeholder {
        color: #b4bac9;
    }
    &::placeholder {
        color: #b4bac9;
    }
    &.has-shadow {
        box-shadow: 0 4px 16px rgba(69, 91, 99, 0.08);
    }
    &:focus {
        box-shadow: 0 4px 16px rgba(69, 91, 99, 0.08);
    }
}
.select-box {
    position: relative;
    select {
        -webkit-appearance: none;
        appearance: none;
    }
    &:after {
        content: '';
        background: url(../images/arrow-down.svg) no-repeat;
        width: 20px;
        height: 14px;
        position: absolute;
        top: 50%;
        right: 24px;
        z-index: 1;
        margin-top: -7px;
    }
}
// Accordion
.accordion {
    .card {
        overflow: visible;
        margin-bottom: 10px;
        border: none;
    }
    .card-body {
        font-size: 16px;
    }
    [data-toggle="collapse"] {
        background: url(../images/chevron-right.svg) no-repeat 96% center;
        background-size: 8px auto;
        font-size: 15px;
        color: #454f63;
        letter-spacing: 2px;
        box-shadow: 0 4px 16px rgba(69, 91, 99, 0.08);
        border-radius: 12px;
        padding: 15px 18px;
        &:hover {
            text-decoration: none;
        }
    }
}
// Common
.text-danger {
    color: #f77 !important;
}
.text-bold {
    font-weight: 700;
}
.content-box {
    box-shadow: 0 4px 16px rgba(69, 91, 99, 0.08);
    border-radius: 12px;
}
.custom-hr {
    border-top-color: #f4f4f6;
}
.link-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    img {
        width: 12px;
        height: 20px;
        position: absolute;
        top: 50%;
        right: 32px;
        z-index: 1;
        margin-top: -10px;
    }
}
.rating-input-wrapper {
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(69, 91, 99, 0.08);
    padding: 20px;
}
.rating-input {
    background: url(../images/star-yellow.svg) no-repeat right center;
    padding-right: 80px;
    a {
        display: inline-block;
        width: 42px;
        height: 42px;
        border: 1px solid #454f63;
        border-radius: 100px;
        text-align: center;
        color: #454f63;
        line-height: 40px;
        &:hover {
            text-decoration: none;
        }
        &.selected,
        &:hover {
            background: #454f63;
            color: #fff;
        }
    }
}

/*_________ Header Start _________*/
.navbar {
    padding: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
    .nav-item {
        margin-left: 50px;
        &:first-child {
            margin-left: 0;
        }
        &.active {
            a {
                color: #3acce1 !important;
                font-weight: 600;
            }
        }
    }
    .dropdown {
        .nav-link {
            &:before {
                display: inline-block;
                content: url(../images/globe.svg);
                width: 16px;
                height: 16px;
                margin-right: 6px;
                opacity: 0.6;
            }
            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }
    }
    .signin {
        .nav-link {
            &:before {
                display: inline-block;
                content: url(../images/user.svg);
                width: 16px;
                height: 16px;
                margin-right: 16px;
                opacity: 0.6;
            }
        }
    }
    .show {
        .nav-link {
            &:before {
                opacity: 0.9;
            }
        }
    }
    .nav-link {
        font-size: 18px;
        font-weight: 500;
    }
}
.navbar-brand {
    width: 94px;
    img {
        width: 100%;
    }
}
.dropdown-menu {
    min-width: auto;
}
/*_________ Main Start _________*/
#main {
    padding-top: 60px;
}
.content-sm {
    max-width: 644px;
    margin: 0 auto;
    .title {
        margin-bottom: 35px;
    }
}
.content-xs {
    max-width: 472px;
    margin: 0 auto;
    .title {
        letter-spacing: 2px;
        margin-bottom: 35px;
    }
    .text-mute {
        font-size: 15px;
        opacity: 0.56;
        margin-bottom: 68px;
    }
}
.custom-tabs {
    margin: 0 auto;
    border-top: 1px solid #f4f4f6;
    > .nav {
        li {
            &:before {
                content: '';
                background: #f4f4f6;
                width: 1px;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
            }
        }
        .active {
            color: #3acce1;
        }
    }
    .nav {
        box-shadow: 0 12px 16px rgba(69, 91, 99, 0.08);
        li {
            position: relative;
            text-align: center;
            font-size: 15px;
        }
        a {
            display: block;
            color: #959dad;
            padding: 16px;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
.sign-in-form {
    padding-top: 66px;
    .btn-block {
        margin-bottom: 20px;
    }
}
.form-p {
    padding-left: 30px;
    padding-right: 30px;
}
.forgot-password-link {
    font-size: 14px;
    color: #78849e;
    opacity: 0.57;
    transition: opacity 0.3s;
    &:hover {
        color: #78849e;
        text-decoration: none;
        opacity: 1;
    }
}
.link-back {
    background: url(../images/chevron-left.svg) no-repeat left center;
    background-size: 17px auto;
    color: #454f63;
    font-size: 20px;
    padding-left: 37px;
    opacity: 0.8;
    padding-bottom: 3px;
    transition: opacity 0.3s;
    &:hover {
        color: #454f63;
        text-decoration: none;
        opacity: 1;
    }
}
.icon-check {
    width: 22px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    margin-top: -8px;
    opacity: 0;
    transition: opacity 0.3s;
}
input.validated {
    padding-right: 62px;
    + .icon-check {
        opacity: 1;
    }
}
.bordered-tabs {
    border-top: 1px solid #f4f4f6;
    .nav {
        margin-bottom: 50px;
        a {
            border-bottom: 5px solid transparent;
            transition : border 0.3s;
        }
        .active {
            color: #454f63;
            border-bottom-color: #3acce1;
        }
    }
}
.theme-radio {
    .form-check-label {
        font-size: 18px;
        padding-left: 35px;
        cursor: pointer;
        &:before {
            content: '';
            width: 26px;
            height: 26px;
            border-radius: 100px;
            background: #fff;
            border: 1px solid #d1d5de;
            padding: 2px;
            position: absolute;
            top: 1px;
            left: 0;
            z-index: 1;
        }
        &:after {
            content: '';
            width: 22px;
            height: 22px;
            background: #3acce1;
            border-radius: 100px;
            position: absolute;
            top: 3px;
            left: 2px;
            z-index: 1;
            opacity: 0;
            transition: opacity 0.5s;
        }
    }
    input {
        display: none;
        &:checked {
            + .form-check-label {
                &:after {
                    opacity: 1;
                }
            }
        }
    }
}

/* Forgot Password Start
_________________________*/
.forgot-password {
    .nav {
        a {
            cursor: default;
        }
    }
    p {
        font-size: 22px;
        color: #959dad;
        margin-bottom: 50px;
    }
}
/* Payment Method Start
_________________________*/
.payment-method {
    .form-group {
        margin-bottom: 67px;
    }
}
/* Book Ride Start
_________________________*/
.reservation-title {
    margin-bottom: 30px;
}
.location-fields {
    border-bottom: 1px solid #f4f4f6;
    margin-bottom: 16px;
    padding-left: 30px;
    .title {
        font-size: 22px;
    }
    .pickup,
    .destination {
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 22px auto;
        position: relative;
        margin-bottom: 42px;
        padding-right: 35px;
        &:before {
            content: '';
            background: url(../images/dotted-border.png) repeat-y;
            width: 5px;
            position: absolute;
            top: 9px;
            left: -27px;
            height: 81%;
            z-index: 1;
        }
        &:after {
            content: '';
            background: #68cade;
            width: 12px;
            height: 12px;
            border-radius: 4px;
            position: absolute;
            top: 9px;
            left: -30px;
            z-index: 1;
        }
    }
    .pickup {
        &.has-icon {
            background-image: url(../images/pin.svg);
        }
    }
    .destination {
        &.has-icon {
            background-image: url(../images/flag.svg);
        }
        margin-bottom: 26px;
        &:before {
            top: auto;
            bottom: 100%;
        }
        &:after {
            background: #ff5c5c;
        }
    }
    .form-control {
        height: 34px;
        font-size: 18px;
        padding: 0;
        &:focus {
            box-shadow: none;
        }
    }
    .address {
        color: #b4bac9;
    }
    .data-list {
        background: #fff;
        box-shadow: 0 12px 16px rgba(69, 91, 99, 0.08);
        margin-top: 20px;
        border: none;
        padding: 0 48px;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 2;
        li {
            font-size: 16px;
            border-top: 1px solid #f4f4f6;
            padding: 17px 0;
            &:first-child {
                border-top: none;
            }
        }
    }
}
.schedule-pickup {
    position: relative;
    margin-bottom: 30px;
    .form-control {
        font-size: 22px;
        &::-webkit-input-placeholder {
            color: #a7aebb;
        }
        &:-ms-input-placeholder {
            color: #a7aebb;
        }
        &::placeholder {
            color: #a7aebb;
        }
    }
    .icon-link {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        img {
            width: 40px;
            height: 38px;
        }
    }
}
.bootstrap-datetimepicker-widget {
    &.dropdown-menu {
        width: auto;
        padding: 0;
    }
    .datepicker {
        table {
            background: #2a2e43;
            border-collapse: separate;
            border-spacing: 20px;
        }
        tbody {
            color: #fff;
            td {
                width: 42px;
                height: 42px;
                border-radius: 100px;
            }
        }
    }
    .day {
        &.active,
        &:hover {
            background: #3acce1 !important;
            color: #fff !important;
        }
    }
    thead {
        border-bottom: 1px solid #3acce1;
        tr {
            background: #2a2e43;
            color: #bfbfbf;
            &:first-child {
                background: #3acce1;
                color: #fff;
            }
        }
        th {
            border-radius: 0;
        }
    }
    .picker-switch {
        background: #3acce1;
        color: #fff;
    }
    table thead tr:first-child th:hover {
        background: #138496;
        color: #fff;
    }
}
.slider-labels {
    max-width: 698px;
    background: rgba(149, 157, 173, 0.15);
    margin: 0 auto 30px;
    border-radius: 12px;
    padding: 4px;
    a,
    .slick-slide {
        width: 140px !important;
        font-size: 22px;
        color: #454f63;
        padding: 14px 26px 15px;
        border-radius: 10px;
        &:hover {
            text-decoration: none;
        }
        &:focus {
            outline: none;
        }
        &.active,
        &.slick-current {
            background: #fff;
            box-shadow: 5px 3px 8px rgba(69, 91, 99, 0.08);
        }
    }
    .sub-item {
        font-size: 0;
        width: 11px !important;
        height: 11px;
        border: 1px solid #707070;
        padding: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
}
.ride-slider-wrap {
    padding-bottom: 62px;
    .btn {
        font-size: 24px;
        font-weight: 400;
    }
}
.ride-slider {
    margin-bottom: 40px;
    padding: 0 50px;
    .custom-counter {
        visibility: hidden;
    }
    .slick-slide {
        margin: 0 48px;
        padding: 18px 0;
        &:focus {
            outline: none;
        }
        &.slick-current {
            .custom-counter {
                visibility: visible;
            }
        }
    }
    .slide-inner {
        box-shadow: 0 6px 12px rgba(191, 191, 191, 0.8);
        border-radius: 12px;
        padding: 0 38px 36px;
    }
    .slick-arrow {
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 48px;
        height: 48px;
        border: none;
        font-size: 0;
        border-radius: 100px;
        position: absolute;
        top: 50%;
        margin-top: -24px;
        z-index: 1;
        opacity: 0.7;
        transition: opacity 0.3s;
        &:hover {
            opacity: 1;
        }
        &.slick-disabled {
            opacity: 1;
        }
        &:focus {
            outline: none;
        }
    }
    .slick-prev {
        background-image: url(../images/arrow-left.svg);
        left: 0;
        &.slick-disabled {
            background-image: url(../images/arrow-left-gray.svg);
        }
    }
    .slick-next {
        background-image: url(../images/arrow-right.svg);
        right: 0;
        &.slick-disabled {
            background-image: url(../images/arrow-right-gray.svg);
        }
    }
    .amount {
        min-width: 116px;
        display: inline-block;
        font-size: 20px;
        margin-bottom: 25px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 0 0 14px 14px;
        padding: 20px;
    }
    .vehicle {
        max-width: 100%;
        margin: 0 auto 10px;
    }
    .scrollable {
        max-height: 280px;
        margin-bottom: 48px;
        overflow: auto;
    }
    .capacities {
        margin-bottom: 32px;
        .capacity {
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 26px 26px;
            display: inline-block;
            font-size: 21px;
            margin: 0 30px;
        }
        .seating {
            background-image: url(../images/person.svg);
            padding-left: 37px;
        }
        .luggage {
            background-image: url(../images/luggage.svg);
            padding-left: 37px;
        }
    }
    .title {
        position: relative;
        font-size: 21px;
        padding-bottom: 12px;
        margin-bottom: 22px;
        &:before {
            content: '';
            background: #f4f4f6;
            border-radius: 1px;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }
    }
}

.choices {
    background: #edeff2;
    border-radius: 16px;
    padding: 14px;
    li {
        position: relative;
        margin-top: 18px;
        font-size: 13px;
        &:first-child {
            margin-top: 0;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            margin: 0 18px 0 10px;
        }
        .icon {
            display: inline-block;
            width: 17px;
            height: 17px;
        }
    }
    .info {
        img {
            display: inline-block;
            width: 13px;
            height: 13px;
        }
    }
    .toggle-btn {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
}
.key-points {
    position: relative;
    margin-bottom: 20px;
    padding-right: 30px;
    .info {
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 1;
        margin-top: -10px;
        img {
            width: 20px;
            height: 20px;
        }
    }
    ul {
        padding-top: 10px;
        li {
            background: url(../images/check.svg) no-repeat;
            background-size: 24px auto;
            font-size: 14px;
            line-height: 1.4;
            margin-bottom: 20px;
            padding-left: 38px;
        }
    }
}
/* Order Start
_________________________*/
.additional-info {
    .title {
        font-size: 40px;
    }
}
.field-flight {
    background: url(../images/aeroplane.svg) no-repeat 18px center;
    background-size: 24px auto;
    padding-left: 70px;
}
.has-label {
    position: relative;
    label {
        background: url(../images/instruction.svg) no-repeat left center;
        padding-left: 50px;
        position: absolute;
        top: 25px;
        left: 20px;
        z-index: 1;
    }
    .text-mute {
        color: #959dad;
    }
    textarea {
        padding-top: 70px;
    }
}
.order-details {
    .content-box {
        margin-bottom: 18px;
        padding: 12px 22px;
    }
    .listings {
        .title {
            font-size: 16px;
        }
        .custom-hr {
            max-width: 96%;
        }
    }
    .subtitle {
        font-size: 12px;
        color: #959dad;
    }
    .label {
        display: block;
        font-size: 14px;
        color: #959dad;
    }
    .val {
        font-size: 16px;
    }
    .col-mid {
        &:before,
        &:after {
            content: '';
            background: #f4f4f6;
            width: 1px;
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 1;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }
    .dates {
        position: relative;
        font-size: 12px;
        padding-top: 13px;
        margin-bottom: 32px;
        .date {
            font-size: 18px;
        }
        .arrow {
            width: 52px;
            height: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -15px;
            margin-left: -26px;
            z-index: 1;
        }
    }
    .card-number {
        background: url(../images/card.svg) no-repeat left center;
        background-size: 16px auto;
        font-size: 14px;
        margin-left: 10px;
        padding-left: 32px;
    }
}
.total-price {
    .label {
        display: block;
        font-size: 14px;
        color: #959dad;
    }
}
.success-msg {
    padding: 85px 0;
    .content-xs {
        max-width: 390px;
    }
    img {
        margin-bottom: 50px;
    }
    .title {
        color: #68cade;
    }
    p {
        font-size: 16px;
        color: #959dad;
    }
    .btn {
        min-width: 304px;
    }
}
.reservation-tabs {
    .nav {
        li {
            min-width: 260px;
        }
    }
    .tab-content-title {
        margin-bottom: 38px;
    }
    .link-cancel {
        font-size: 20px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    .content-box {
        margin-bottom: 28px;
        padding: 20px 52px;
    }
    .has-separator {
        &:before {
            content: '';
            margin-left: -1px;
            border-left: 2px solid #f4f4f6;
            position: absolute;
            top: 0;
            left: -1px;
            bottom: 0;
            z-index: 1;
        }
    }
    .smart-box {
        padding: 22px 36px 12px 98px;
        p {
            color: #959dad;
        }
    }
    .searching-driver {
        background: url(../images/search.svg) no-repeat 36px center;
        background-size: 28px auto;
    }
    .driver-info {
        background: url(../images/accelerator.png) no-repeat 30px center;
        background-size: 40px auto;
    }
    .track-driver {
        background: url(../images/target.svg) no-repeat 32px center;
        background-size: 32px auto;
    }
    .rate-driver {
        background: url(../images/star.svg) no-repeat 32px center;
        background-size: 32px auto;
    }
    .timings {
        margin-bottom: 20px;
        .label {
            display: block;
            color: #959dad;
        }
        .val {
            font-size: 20px;
        }
    }
}
.vehicle-info {
    padding: 20px 52px;
    .subtitle {
        color: #959dad;
    }
    .vehicle {
        width: 213px;
    }
    .label {
        display: block;
        color: #959dad;
    }
    .val {
        font-size: 24px;
    }
}
.accordion-title {
    margin-bottom: 38px;
}

/* Payment Start
_________________________*/
.payment-content {
    .main-title {
        margin-bottom: 50px;
    }
}
.payment-form {
    margin-bottom: 15px;
    padding: 16px 24px 0;
    .form-group {
        border-bottom: 1px solid #f4f4f6;
        padding: 5px 0;
    }
    .col-form-label {
        font-size: 15px;
    }
    .form-control {
        &:focus {
            box-shadow: none;
        }
    }
}

/* Map Section Start
_________________________*/
#map-wrapper {
    background: url(../images/bg-map.jpg);
    height: calc(100% - 67px);
    padding-top: 32px;
    .btn-back {
        min-width: 117px;
        background: #fff;
        color: #959dad;
        font-weight: 400;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
        border-radius: 10px;
        padding: 16px 12px 17px;
        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
    }
    .info-box {
        min-width: 163px;
        display: inline-block;
        background: #4d576a;
        color: #efefef;
        font-size: 16px;
        margin-right: 14px;
        border-radius: 12px;
        padding: 12px 15px;
        text-align: center;
        vertical-align: middle;
        .val {
            font-size: 29px;
            color: #fff;
            line-height: 1;
        }
    }
}
.chat-wrapper {
    max-width: 1666px;
    width: 100%;
    position: fixed;
    top: 100%;
    margin-top: -117px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 15px;
    transition: all 0.3s;
    z-index: 1;
    &.active {
        top: 330px;
        bottom: 0;
    }
}
.toggle-chat {
    background: #fff;
    position: absolute;
    padding: 15px 56px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    &.active {
        .arrow {
            transform: rotate(180deg);
        }
    }
    .arrow {
        width: 12px;
        height: 7px;
        margin-top: -6px;
        position: absolute;
        top: 50%;
        left: 22px;
        z-index: 1;
    }
}
.chat {
    background: #fff;
    position: relative;   
    border-top: 8px solid #3bc5db;
    border-radius: 12px 12px 0 0;
    padding: 109px 56px 110px;
    p {
        color: #969ca7;
    }
    .time {
        font-size: 20px;
        position: absolute;
        top: 36px;
        right: 30px;
        z-index: 1;
    }
    .message {
        padding: 10px 0;
        span {
            max-width: 300px;
            position: relative;
            display: inline-block;
            color: #fff;
            font-size: 14px;
            padding: 20px 30px;
            &:before {
                content: '';
                border-style: solid;
                border-width: 15px;
                position: absolute;
                top: 0;
                z-index: 1;
            }
        }
        .attachment {
            display: block;
            margin-bottom: 20px;
            figcaption {
                font-size: 13px;
                color: #78849e;
                opacity: 0.56;
                margin-bottom: 8px;
            }
        }
    }
    .message-user {
        span {
            background: #3acce1;
            border-radius: 0 12px 12px 12px;
            &:before {
                border-color: #3acce1 #3acce1 transparent transparent;
                left: -15px;
            }
        }
    }
    .message-driver {
        span {
            background: #78849e;
            border-radius: 12px 0 12px 12px;
            &:before {
                border-color: #78849e transparent transparent #78849e;
                right: -15px;
            }
        }
    }
    .timestamp {
        display: block;
        font-size: 15px;
        color: #78849e;
        &.today {
            opacity: 0.56;
        }
    }
}
.chat-box {
    background: #f4f4f6;
    padding: 60px 15px;
    overflow: auto;
}
.conversations {
    max-width: 974px;
    margin: 0 auto;
}
.chat-form {
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 15px 56px 0;
    .form-group {
        padding-right: 170px;
    }
    .form-control-lg {
        height: 56px;
    }
    .btn-submit {
        position: absolute;
        top: 0;
        right: 0;
    }
}
.alarm-clock {
    display: inline-block;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 3px 6px #d6d6d6;
    padding: 17px;
}

/* Models Start
_________________________*/
.modal-content {
    border-radius: 14px;
    .avatar {
        width: 114px;
        height: 114px;
    }
}
.modal-header,
.modal-body,
.modal-footer {
    padding-left: 32px;
    padding-right: 32px;
}
.modal-header {
    border-bottom: none;
    .close {
        &:focus {
            outline: none;
        }
    }
}
.modal-footer {
    border-top: none;
    padding-bottom: 60px;
}
#modal-board {
    p {
        font-size: 14px;
        color: #959dad;
    }
}
.custom-modal {
    .label {
        display: block;
    }
    .label-weight {
        font-size: 18px;
    }
    .label-age {
        color: #959dad;
        font-size: 19px;
    }
    .label-passengers {
        font-size: 24px;
        padding-top: 5px;
    }
    .mb {
        margin-bottom: 34px;
    }
    .custom-counter {
        input {
            width: 70px;
        }
        .btn {
            min-width: 60px;
        }
    }
}
#modal-seat {
    .modal-title {
        background: url(../images/baby-seat.svg) no-repeat left center;
        background-size: 22px auto;
        padding-left: 40px;
    }
}
.board-field-wrap {
    border: 1px solid #454f63;
    border-radius: 6px;
    padding: 0 30px 10px;
    .form-control {
        font-size: 23px;
        margin-bottom: 5px;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #454f63;
    }
}

@media (min-width: 576px) {
    .custom-modal {
        .modal-dialog {
            max-width: 592px;
        }
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg {
        .navbar-nav {
            .nav-link {
                padding: 20px 0;
            }
        }
    }    
}
@media (min-width: 1200px) {
    .navbar {
        max-width: 1920px;
        margin: 0 auto;
    }
    [class*="container-"] {
        max-width: 1666px;
    }
}